<template lang="pug">
.about
  .box CodePen
</template>

<script>
export default {
  name: "About",
};
</script>

<style lang="scss">
.about {
  background-color: #e7f5dc;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 280px;
  position: relative;

  font-size: 25px;
  line-height: 30px;
  color: #978211;
  text-transform: uppercase;

  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    border-radius: 50%;
    pointer-events: none;
  }

  &::after {
    box-shadow: inset 0 20px 0 rgba(250, 250, 0, 0.6),
              inset 20px 0 0 rgba(250, 200, 0, 0.6),
              inset 0 -20px 0 rgba(250, 150, 0, 0.6),
              inset -20px 0 0 rgba(250, 100, 0, 0.6);
    animation: circle-shadow-before 2s linear infinite;
  }

  &::before {
    box-shadow: inset 0 20px 0 rgba(0, 250, 250, 0.6),
              inset 20px 0 0 rgba(0, 200, 200, 0.6),
              inset 0 -20px 0 rgba(0, 150, 200, 0.6),
              inset -20px 0 0 rgba(0, 200, 250, 0.6);
    animation: circle-shadow-after 2s linear infinite;
  }
}

@keyframes circle-shadow-after {
  0% {
    transform: rotate(0) scale(1, 1);
  }
  50% {
    transform: rotate(180deg) scale(0.90, 0.82);
  }
  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}

@keyframes circle-shadow-before {
  0% {
    transform: rotate(0) scale(1, 1);
  }
  50% {
    transform: rotate(-180deg) scale(0.86, 0.92);
  }
  100% {
    transform: rotate(-360deg) scale(1, 1);
  }
}
</style>