<template lang="pug">
  .home(@dblclick="toggleMenu")
    .block
      - for (var x = 0; x < 20; x++)
        span
</template>

<script>
export default {
  name: "Home",
  methods: {
    toggleMenu() {
      this.$router.push('/about')
    }
  },
  // mounted() {
  //   console.log(this.$router.push())
  // }
};
</script>

<style lang="scss">
.home {
  background-color: #e7f5dc;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(60deg);
}

%circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #64ac8f;
}

@for $i from 1 through 20 {
  .block span:nth-child(#{$i}) {
    @extend %circle;
    width: 10px*$i+100px;
    height: 10px*$i+100px;
    animation: circle 3s ease-in-out 0.1s*$i infinite;
  }
}

@keyframes circle {
  0%, 100% {
    transform: translateZ(0) translate(-50%, -50%);
  }
  50% {
    transform: translateZ(100px) translate(-50%, -50%);
  }
}
</style>